/* Box sizing rules */
 
*,
*::before,
*::after {
  box-sizing: border-box;
}
 

/* Remove default margin */
 
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
 

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
 
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
 

/* Set core root defaults */
 
html:focus-within {
  scroll-behavior: smooth;
}
 

/* Set core body defaults */
 
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
 

/* A elements that don't have a class get default styles */
 
a:not([class]) {
  text-decoration-skip-ink: auto;
}
 

/* Make images easier to work with */
 
img,
picture {
  max-width: 100%;
  display: block;
}



input[type="radio"], input[type="checkbox"] {
  display: block;
}

div#quiz-app {
  height: 100%;
  width: 100%;
  position: fixed;
}

.cross {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 27px;
  height: 32px;
  z-index: 2;
  cursor: pointer;
}
.cross__one {
  height: 35px;
  width: 2px;
  margin-left: 12px;
  background-color: #252525;
  transform: rotate(45deg);
  z-index: 1;
}
.cross__two {
  height: 35px;
  width: 2px;
  background-color: #252525;
  transform: rotate(90deg);
  z-index: 2;
}


.error__message {
  color: #D65449;
  visibility: hidden; 
  padding-bottom: 1rem;
}
.question__title {
  max-width: 400px;
}
.question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 3rem 0 3rem 1.5rem;
    background-color: #f7f3ED;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    transition: 0.4s left;
}
/* .question:nth-child(even) {
  background-color: #256238;
} */
/* temporarily remove left 100% */
.question__image {
    width: 115px;
    height: 140px;
    margin: 0;
    padding: 0;
    background-color: #C4C4C4;
    border-radius: 8px;
}

.question.one {
  display: flex;
  left:0;
}
/* hide images for question one */
.question.one .question__image{
  display: none;
}

.question.two .container {
  padding-left: 0;
  margin: 0;
  margin-right: 16px;
}

/* hide checkboxes for question two */
.question.two .checkmark {  
  display: none;
}
/* wrap images for question 2 */
.question.two .checkbox__wrapper {
  display: flex;
  flex-wrap: wrap;
}


.next__prev button {
    border-radius: 8px;
    background-color: #ffffff;
    border: 0.5px solid #EEEEEE;
    padding: 10px 15px;
    font-size: 16px;
}
.next__prev {
    padding-top: 3rem;
}
button.prev__button {
    margin-right: 3rem;
}

#result {
  padding-top: 20%;
  background-size: cover;
}



input[type='radio']+label:not(.label-like):before {
  display: none;
}
 

#finalresult {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
}
.finalresult__image {
  width: 50%;
  background-size: cover;
  height: 100%;
  background-position: center;
}
.recommendation {
  width: 50%;
  height: 100%;
  padding: 2.5rem 0 0 1.5rem;
  background-color: #f7f3ED;
}
.recommendation button {
  padding: 0.7rem 0.7rem;
  white-space: pre;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  background-color: #ffffff;
}
p#finalresult__text {
  padding: 2rem 0 1rem 0;
  width: 350px;
}
#finalresult__rec button {
  margin-bottom: 10px;
}


/* The container */
.container {
  display: block;
  position: relative;
  padding: 9px 0 8px 45px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.container:nth-child(2) {
  margin: 0.7rem 0;
}
 
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
 
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: 8px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    background-color: transparent;
}
 
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
 
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #000000;
}
 
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
 
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
 
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10px;
  top: 5px;
  width: 9px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 
@media (max-width: 767px) {
.container:last-child .question__image, .container:nth-last-child(2) .question__image {
    background-image: linear-gradient(#C4C4C4, #C4C4C4, #f7f3ED);
  }
  .question {
    padding: 15% 5%;
  }
  .question__image {
    width: 150px;
    height: 180px;
  }
  .question.two .checkbox__wrapper {
    justify-content: space-between;
  }
  .question.two .container {
    margin: 0;
  }
}